@import url('https://fonts.cdnfonts.com/css/gentius');
@import url('https://fonts.cdnfonts.com/css/samsung-gt-c3312');
@import url('https://fonts.cdnfonts.com/css/milies');

                
@tailwind base;
@tailwind components;
@tailwind utilities;



#font1{
  
    font-family: 'GS50_EUCJ', sans-serif;

    
}
#milies {
    font-family: 'milies', sans-serif;
}

#font{

    font-family: 'GS50_EUCJ', sans-serif;

}
